body {
    font-family: 'Open Sans', sans-serif;}

/* VARIABILI  */

:root {
    --main-column: 60%;
    --larger-column: 70%;
    --padding-schede: 25px;
    --main-color: #0061ff;
}

/* classi variabili */

.main-column {width: var(--main-column);}
.larger-column {width: var(--larger-column);}
.p-scheda  {padding: var(--padding-schede);}

/* generiche */

h1 {
      font-size: 5em;
      font-weight: 800;
    }
h2 { font-size: 3em;}
h3 { 
    font-size: 2em;
    font-weight: 700;
}
h4 {
    font-size: 1.5em;
    font-weight: 700;
}

/* BOTTONI  */

.blue-button {
    background-color: var(--main-color);
    padding: 5px 15px;
    color: #ffffff;
    display: inline-block;
    text-align: center;
    text-decoration: none;
}

.white-button {
    background-color: #ffffff;
    padding: 5px 15px;
    border: black solid 1px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
}

/* hover bottoni  */

.blue-button:hover {background-color: #4084f3;}
.white-button:hover {color: gray;}

/********** NAVBAR **********/

nav {
    background-color: #ffffff;
    padding: 0 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    height: 5em;
    }

    /* hover navbar */
nav a {    border-bottom: #00000000 solid 2px;}
nav a:hover {    border-bottom: #000000 solid 2px;    }

nav a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: grey;
    font-weight: 600;
    padding: 0 10px;
}

/********** JUMBOTRON **********/

#jumbo-container {    transform: translateY(100px);}

#jumbotron {
    padding-top: 80px;
    background-color: #b4d0e7;
}
 #arrow {   bottom: 110px;    }

/********** SCEGLI PIANO **********/

/* radiobutton */

input[type="radio"] {
    height: 1.5rem;
    width: 1.5rem;
    margin-right: 0.5rem;
    accent-color: var(--main-color);
}
#scegli-piano i {margin-right: 6px;}
#scegli-piano .fa-check {color: var(--main-color);}


#partner, #business-op, #clienti {     margin: 150px auto; }

#container-loghi {    height: calc(100vw / 3);}

/* colori loghi  */

#designit {
    background-color: #a2d39b;
    border: #d1e9cd solid 10px;
}
#arizona {background-color: #61082b;}
#florida {background-color: #0093ce;}
#topps {background-color: #ff1c1c;}
#world-bicycle-relief {background-color: #d5001f;}
#hearst-corp {background-color: #b4d0e7;}
#lonely-planet {background-color: #0d2481;}
#clear-channel {background-color: #ffd830;}

/* PROVA GRATUITA  */

#banner-free h3 {
    color: #61082b;
}
#banner-free {background-color: #b4d0e7;}
#banner-free a {
    background-color: whitesmoke;
    padding: 5px 15px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
}
#banner-free a:hover {color: grey;}

/* FAQ */

#faq h3 { padding-bottom: 30px;}

.hide {
    height: 3em;
    margin-bottom: 10px;
    display: none;
}
#faq div {    transition: 0.3s;}
.show:hover .hide, .hide:hover {
    display: block;
}
.show:hover .angle-turn, .hide:hover .angle-turn  {
    transform:rotate(180deg)
}

/* FOOTER  */

.footer-column {
    width: calc(100%/5 - 20px);
}

#small-hr {
    width: 150px;
}

footer a {
    text-decoration: none;
    color: #ffffff;
    padding-bottom: 10px;
    display: block;
}