body {font-family: 'Open Sans', sans-serif;}

/* VARIABILI  */

:root {
    --main-column: 60%;
    --larger-column: 70%;
    --padding-schede: 25px;
}

/* classi variabili */

.main-column {width: var(--main-column);}
.larger-column {width: var(--larger-column);}
.p-scheda  {padding: var(--padding-schede);}

/* BOTTONI  */

.blue-button {
    background-color: #0061ff;
    padding: 5px 15px;
    color: #ffffff;
    display: inline-block;
    text-align: center;
    text-decoration: none;
}

.white-button {
    background-color: #ffffff;
    padding: 5px 15px;
    border: #000000 solid 1px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
}

/* NAVBAR */

nav {
    background-color: #ffffff;
    padding: 0 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    height: 5em;
}
nav a:hover {
     /* border-bottom: solid grey 2px; */
     box-shadow: inset 1px -5px 14px -4px #000000;
    }
nav a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: grey;
    font-weight: 600;
    padding: 0 8px;
    height: 100%;
}
nav img {
    margin-right: 15px;
}

/* JUMBOTRON */

#jumbotron img {
    width: 100%;
}
#jumbo-container {
    transform: translateY(80px);
    width: var(--larger-column);
    margin: auto;

}
#jumbo-container > div {margin: auto}

#jumbotron {
    padding-top: 80px;
    background-color: #b4d0e7;
    margin: auto;
}
#jumbotron #arrow {
        position: absolute;
        bottom: 90px;
    }
h1 {
    margin: 0 auto 40px auto;
    font-size: 5em;
}


/* SCEGLI PIANO */
#scegli-piano {margin-top: 150px;}

/* checkbox */
#scegli-piano i {margin-right: 6px;}


#scegli-piano span { margin-right: 15px;}
#scegli-piano h2 {font-size: 35px;}
#scegli-piano > * {
    width: var(--main-column);
    margin-right: auto;
    margin-left: auto;
}

.container-scheda {padding: var(--padding-schede);}

#enterprise {
    width:var(--main-column) ;
}
#partner { 
    margin: 150px auto 150px auto;
    width:var(--main-column) ;}
#business-op {
    margin: 150px auto 150px auto;
    width: var(--main-column);

}

/* clienti business  */

#clienti {
    margin: 150px auto 150px auto;
}
#scopri-clienti {
    width: var(--main-column);
}
#container-loghi {
    margin-top: 150px;
}

/* colori loghi  */

#designit {
    background-color: #a2d39b;
    border: #d1e9cd solid 10px;
}
#arizona {background-color: #61082b;}
#florida {background-color: #0093ce;}
#topps {background-color: #ff1c1c;}
#world-bicycle-relief {background-color: #d5001f;}
#hearst-corp {background-color: #b4d0e7;}
#lonely-planet {background-color: #0d2481;}
#clear-channel {background-color: #ffd830;}

/* PROVA GRATUITA  */
#banner-free h3 {
    color: #61082b;
}
#banner-free {background-color: #b4d0e7;}
#banner-free a {
    background-color: whitesmoke;
    padding: 5px 15px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
}
/* FAQ */

#faq h3 { padding-bottom: 30px;}
#faq {
    margin-bottom: 150px;   
}

/* FOOTER  */
#column-container p {

}

.footer-column {
    width: calc(100%/5 - 20px);
}

#small-hr {
    width: 150px;
}

footer a {
    text-decoration: none;
    color: #ffffff;
    padding-bottom: 10px;
    font-size: 12px;
}