body {font-family: 'Open Sans', sans-serif;}
:root {
    --main-column: 60%;
    --larger-column: 70%;
}
.blue-button {
    background-color: #0061ff;
    padding: 5px 15px;
    color: #ffffff;
}

/* NAVBAR */

nav {
    background-color: #ffffff;
    padding: 25px 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}
nav a {
    text-decoration: none;
    color: grey;
    font-weight: 600;
    padding: 5px 8px;
}
nav img {
    margin-right: 15px;
}

/* JUMBOTRON */

#jumbotron img {
    width: 100%;
    transform: translateY(80px)
}
#jumbotron > div {margin: auto}
#container-tex-pic {
    width: var(--larger-column);
}
#jumbotron {
    padding-top: 200px;
    background-color: #b4d0e7;

    margin: auto;
}
h1 {
    margin: auto;
    font-size: 5em;
    width: var(--larger-column);
}

/* SCEGLI PIANO */
#scegli-piano {margin-top: 100px;}
#scegli-piano > * {
    width: var(--main-column);
    margin: 0 auto 30px auto;
}
#enterprise {
    width:var(--main-column) ;
}
#partner { 
    margin: 150px auto 150px auto;
    width:var(--main-column) ;}
#business-op {
    margin: 150px auto 150px auto;
    width: var(--main-column);

}

/* clienti business  */

#clienti {
    margin: 150px auto 150px auto;
}
#scopri-clienti {
    width: var(--main-column);
}
#container-loghi {
    margin-top: 150px;
}

.colonna-loghi div {
    height: calc(100%/2);
    width: calc(100%/2);
    background-color: blueviolet;
    border: dashed black 2px;
}

/* PROVA GRATUITA  */
#prova-gratuita {
    width: var(--main-column);
}
/* FAQ */

#faq > p {
    padding: 20px 0;
}
#faq h3 { padding-bottom: 30px;}
#faq {
    margin-bottom: 150px;
    width: var(--main-column);    
}

/* FOOTER  */
#column-container {
    padding: 50px 0;
    width: var(--larger-column);
}
.footer-column {
    width: calc(100%/5 - 20px);
    background-color: chartreuse;
    min-height: 300px;
}
#small-hr-container {
    width: var(--larger-column);
}
#small-hr {
    width: 150px;
}
#lang-container {
    width: var(--larger-column);
}