* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
/*** FLEX ***/

.d-none {display: none;}
.d-inblock {display: inline-block;}

/*** FLEX ***/
.d-flex {	display: flex;	}
.flex-row {	flex-direction: row; }
.flex-column { flex-direction: column; }
.flex-justify-between { justify-content: space-between; }
.flex-justify-around { justify-content: space-around; }
.flex-justify-center { justify-content: center; }
.flex-align-center { align-content: center; }
.flex-end {justify-content: end;}
.flex-baseline {vertical-align: baseline;}
.flex-align-around { align-content: space-around; }


.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/*** LARGHEZZE ***/
.w-10 { width: 10%; }
.w-15 { width: 15%; }
.w-20 { width: 20%; } /* 1/5 */
.w-25 { width: 25%; } /* 1/4 */
.w-33 { width: 33%; } /* 1/3 */
.w-30 { width: 30%; }
.w-40 { width: 40%; } /* 2/5 */
.w-50 { width: 50%; } /* 1/2 */
.w-60 { width: 60%; } /* 3/5 */
.w-66 { width: 66%; } /* 2/3 */
.w-75 { width: 75%; } /* 3/4 */
.w-80 { width: 80%; } /* 4/5 */
.w-90 { width: 90%; }
.w-100 { width: 100%; }

/*** PADDINGS ***/
.p-16 { padding: 16px; }
.pt-16 { padding-top: 16px; }
.pr-16 { padding-right: 16px; }
.pb-16 { padding-bottom: 16px; }
.pl-16 { padding-left: 16px; }
.py-16 { padding: 16px 0; }
.py-6 { padding: 6px 0; }
.p-6 { padding: 6px; }
.p-4 { padding: 4px; }

.py-50 { padding: 50px 0; }
.px-6 { padding: 0 6px; }
.px-16 { padding: 0 16px; }

.p-64 { padding: 64px; }
.pt-64 { padding-top: 64px; }
.pr-64 { padding-right: 64px; }
.pb-64 { padding-bottom: 64px; }
.pl-64 { padding-left: 64px; }
.py-64 { padding: 64px 0; }
.px-64 { padding: 0 64px; }

.pt-100 { padding-top: 100px; }
.py-100 { padding: 100px 0; }


/*** BACKGROUND COLORS ***/
.bg-lightblue { background-color: lightblue; }
.bg-goldenrod { background-color: goldenrod; }
.bg-darkblue { background-color: darkblue; }
.bg-dodgerblue { background-color: dodgerblue; }
.bg-pink { background-color: pink; }
.bg-violet { background-color: violet; }
.bg-lightseagreen { background-color: lightseagreen; }
.bg-lightcoral { background-color: lightcoral; }
.bg-forestgreen { background-color: forestgreen; }
.bg-aquamarine { background-color: aquamarine; }
.bg-darkslategray { background-color: darkslategray; }
.bg-lightgray { background-color: lightgray; }
.bg-white { background-color: white; }
.bg-discord { background-color: #7289da;}
.bg-orangered{ background-color: orangered;}
.bg-red{ background-color: red;}
.bg-black{ background-color: black;}



/*** DIMENSIONE TESTO ***/
.fsize-12 {font-size: 12px;}
.fsize-14 {font-size: 14px;}
.fsize-17 {font-size: 17px;}
.fsize-20 {font-size: 20px;}
.fsize-22 {font-size: 22px;}
.fsize-24 {font-size: 24px;}
.fsize-30 {font-size: 30px;}
.fsize-35 {font-size: 35px;}
.fsize-40 {font-size: 40px;}
.fsize-44 {font-size: 44px;}
.fsize-48 {font-size: 48px;}

.we-800 {font-weight: 800;}
.we-600 {font-weight: 600;}
.we-700 {font-weight: 700;}

/*** STILE TESTO ***/
.fd-bar {text-decoration: line-through;}

/*** COLORE TESTO ***/
.c-white {color: white;}
.c-black {color: black;}
.c-discord {color:#7289da}
.c-red {color:red}
.c-grey {color:grey}
.c-green {color:green}




/*** POSIZIONE TESTO ***/
.text-center {text-align: center;}
.text-right {text-align: right;}

/*** FORMATTAZIONE LINK ***/
.link-none {text-decoration: none;}

/*** MARGINI ***/
.mx-10 {margin: 0 10px;}
.my-10 {margin: 10px 0;}
.my-10 {margin: 10px 0;}
.my-20 {margin: 20px 0;}
.my-64 {margin: 64px 0;}
.mb-100 {margin-bottom: 100px;}
.mt-50 {margin-top: 50px;}

/*** BACKGROUND ***/

.sizecover {background-size: cover;}


/*** BACKGROUND ***/

.h-14 {height: 14px;}
.h-18 {height: 18px;}

/*** POSITION***/

.ps-absolute {position:absolute}
.ps-relative {position:relative}

/*** Z-index ***/

.z-1 {z-index: 1;}
.z-2 {z-index: 2;}
.z-3 {z-index: 3;}
.z-4 {z-index: 4;}
.z-50 {z-index: 50;}




/*** RANDOM ***/

.h-100 {
    height: 100%;
}
.ve-align-middle {vertical-align: middle;}
.svg-white {filter: invert(100%) sepia(13%) saturate(7500%) hue-rotate(190deg) brightness(116%) contrast(112%);}